<!DOCTYPE html>
<html>
<head>
    <title>test</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "base.css" %}">
</head>
<body>
    <div class="container">
        <h1>Header</h1>
        <hr />
        <input id="symbol-field" type="text">
        <div class="page"></div>
        <div id="graph"></div>

    </div>


    <script type="text/template" id="stock-view-template">
        <%= Symbol %>
        <%= Name %>
    </script>


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script src="http://dygraphs.com/dygraph-combined.js"></script>

    <script src="{% static 'models/stock.js' %}"></script>
    <script src="{% static 'collections/stocks.js' %}"></script>
    <script src="{% static 'views/appView.js' %}"></script>
    <script>
        g = new Dygraph(document.getElementById('graph'), 'Date, Price\n', {});
    </script>

</body>
</html>